body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url(/images/flower-2336287_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card-container {
  display: flex;
  gap: 10px;
  max-width: 1200px;
  width: 100%;
  min-height: 700px;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: #858e82 solid;
}

.inner-card-container {
  max-width: 600px;
  width: 100%;
  min-height: 700px;
  height: 100%;
  background-color: #e3e4db;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rings-img {
  position: relative;
  top: 40px;
  max-width: 200px;
  width: 100%;
  min-height: 100px;
  animation: scaleImg 4s ease-in-out infinite;
}

@keyframes scaleImg {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.rings-img:hover {
  animation-play-state: paused;
}

.svg-envelope {
  max-width: 120px;
  height: 60px;
}

.date-container {
  display: flex;
  gap: 10px;
}

.main-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Homemade Apple";
  font-weight: 400;
  font-style: normal;
  font-size: 46px;
  margin-bottom: 0px;
  animation-duration: 5s;
}

.text {
  text-align: center;
  max-width: 600px;
  width: 80%;
  min-height: 200px;
  font-size: 18px;
  font-family: "Homemade Apple";
  font-weight: 400;
  font-style: normal;
}

.date {
  animation-duration: 5s;
  font-size: 26px;
  font-family: "Homemade Apple";
  font-weight: 400;
  font-style: normal;
  margin: 0px;
}

.osa-text {
  font-size: 20px;
  font-family: "Homemade Apple";
  font-weight: 400;
  font-style: normal;
}

.osa-btn {
  width: 90px;
  height: 50px;
  border: black solid;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e3e4db;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.osa-btn:hover {
  background-color: #d8d8d8;
}

/*osa.html*/

.svg-happy-smiley {
  max-width: 80px;
  height: 80px;
  transition: background-color 1s ease;
  border-radius: 50px;
  cursor: pointer;
}

.svg-happy-smiley:hover {
  background-color: #718d63;
  transform: rotate(180deg);
}

.svg-sad-smiley {
  max-width: 80px;
  height: 80px;
  transition: background-color 1s ease;
  border-radius: 50px;
  cursor: pointer;
}

.svg-sad-smiley:hover {
  background-color: #f2aca4;
  transform: rotate(180deg);
}
